PORT=3000
GATEWAY_API_KEY=REPLACE_ME
UNSPLASH_ACCESS_KEY=jYCFm8JlqvM28lnww4wyyY-89pjLi4eYcY4dLuKIJCY
PEXELS_API_KEY=XI1olUk6bwnH3FTyb2c4FYtRV6LpnIpW7bDLdXrMAABKJAuneKyBMexI
PIXABAY_API_KEY=REPLACE_ME
GOOGLE_FONTS_API_KEY=REPLACE_ME
REQUEST_TIMEOUT_MS=12000
CACHE_TTL_SECONDS=900
